---
/*========================================*/
/*	PAGE: Home/Index
		NOTES:	
*/
/*========================================*/

//Essential Components
import Layout from '@layouts/SplashLayout.astro';

//Site Data
const siteData = await import("src/data/siteData.json");
	const siteURL = siteData.siteURL;
	const titleSuffix = siteData.titleSuffix;
	const companyName = siteData.companyName;
	const companyDescription = siteData.companyDescription;

//Project Data
	const projectPage = "/interzone-business-card/";
	const baseURL = `${siteURL}${projectPage}`;
	const marker = "/markers/interzone-business-card.jpg";
	const projectName = "Interzone Augmented Reality Card";
	//const companyName = "Interzone Technology Group";
---

<Layout 
	title={projectName}
	heading={projectName}
	marker={marker}
	qrcode={baseURL}
	background="/images/splash-background-1.jpg"
>
	<!-- <div class="metaDetails">
		<p class="projectName">{projectName}</p>
	</div> -->
	<div class="subheading">
		<!-- <div class="symbol">⚠ ⚠ ⚠ ⚠ ⚠</div> -->
		<span class="text">Instructions:</span>
		<!-- <div class="symbol">⚠ ⚠ ⚠ ⚠ ⚠</div> -->
	</div>
	<div class="bodyText">
		<ol class="instructions">
			<li>Scan the QR code below with your phone to open the web viewer. The page will ask if it can access your camera - allow this.</li>
			<li>Once the viewer loads, point your camera at the marker image to the right.</li>
			<li>The 3D hologram will appear floating in front of the marker image.</li>
		</ol>
	</div>
</Layout>

<style lang="scss">
	
	.projectName, .companyName {
			font-size: 1rem;
			margin-bottom: 0;
			padding: 1rem 0.5rem;
			font-weight: 500;
			border-bottom: var(--border-settings-main);
			/* display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center; */
		}

		.subheading{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				font-size: 1.5rem;
				padding: 0.5rem 0.5rem;
				//border-bottom: var(--border-settings-main);
				//background-color: var(--accent-color);
				background-image: linear-gradient(45deg, 
					#28282b 25%, 
					#faf9f6 25%, 
					#faf9f6 50%, 
					#28282b 50%, 
					#28282b 75%, 
					#faf9f6 75%, 
					#faf9f6 100%);
				background-size: 56.57px 56.57px;
				border: solid 5px var(--black);
				color: var(--background-color);
				//border-color: solid 2px var(--background-color);
				.symbol{
					font-size: 1.5em;
				}
				.text{
					margin:0 1em;
					font-weight: 800;
					background-color: var(--accent-color);
					padding: 0.5em 1em;
					margin: 0;
					width: 100%;
					text-align: center;
				}
			}

		.bodyText {
			font-size: 1rem;
			line-height: 1.6;
			padding: 0.25rem 2rem 1rem;
			border-bottom: var(--border-settings-main);
			background-color: var(--accent-color);
			color: var(--background-color);
			
			strong{
				text-decoration: underline;
			}
			.symbol{
				font-size: 1.75em;
				text-align: center;
			}
			
			.instructions{
				li{
					margin-bottom: 0.25em;
				}
			}
		}
	
	.markerSection{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 100%;
			max-width: 85vh;
		}
	}
</style>