---
//Styles
	import "@styles/main.css"

//Components
	import HeadGlobal from "@components/HeadGlobal.astro";
	import SplashHeader from '@components/SplashPageComponents/SplashHeader.astro';
	import InstructionsPanel from '@components/SplashPageComponents/InstructionsPanel.astro';
	import QRCodePanel from '@components/SplashPageComponents/QRCodePanel.astro';
	import PDFDownloadPanel from '@components/SplashPageComponents/PDFDownloadPanel.astro';
	import MarkerImagePanel from '@components/SplashPageComponents/MarkerImagePanel.astro';

//Props
	const { title, description, heading, qrcode, marker, background, pdfs } = Astro.props;

//Site Data
	const siteData = await import("src/data/siteData.json");
	
---

<!doctype html>
<html lang="en" data-theme="light" class="p-0 m-0">
	<head>
		<HeadGlobal title={title} description={description}/>
		
	</head>
	<body class="p-0 m-0">
		
		<main class="flex flex-row justify-start items-start m-0 p-0 max-xl:flex-col" style={background ? `background-image: url(${background}); background-size: cover; background-position: center;` : ""}>
			
			<!-- ============================= -->
			<!-- Left Section | Text & QR Code -->
			<!-- ============================= -->
			<section class="flex-1 flex flex-col justify-center items-center p-8 ">
				
				<div class="text-left max-w-full border-custom border-border-color bg-background-color">

					<SplashHeader heading={heading} description={description} />
					<InstructionsPanel />
					
					<QRCodePanel qrcode={qrcode} />
					<PDFDownloadPanel pdfs={pdfs} />

				</div>

			</section>
			
			<!-- ============================ -->
			<!-- Right Section | Marker Image -->
			<!-- ============================ -->
			<MarkerImagePanel marker={marker} />
			
		</main>
		
		<!-- <footer class="footerSection">
			<div>Interzone Technology Group</div>
		</footer> -->

	</body>
</html>

